#### Simple question, are US federal politicians adopting Mastodon?
#### If so:
- When did they creating their accounts?
- Where across the fediverse are they hosted?

In [1]:
import requests
import pandas as pd
import urllib
from time import sleep

This project uses the open API for Mastodon to search for accounts matching congress member's names. The [mastodon's API reference](https://docs.joinmastodon.org/client/public/) is helpful.

Dataset of current federal legislators comes from the folks at the [@unitedstates project](https://github.com/unitedstates/congress-legislators).

App secret and tokens are not included in the GitHub repo for this project. To create an app, navigate from your account to `mastodon.example/settings/applications`.

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 74AB-C710

 Directory of C:\Users\Silva\research\Masto-Pols

11/23/2022  04:26 PM    <DIR>          .
11/23/2022  04:26 PM    <DIR>          ..
11/23/2022  02:11 PM    <DIR>          .ipynb_checkpoints
11/23/2022  02:13 PM           179,764 legislators-current.csv
11/23/2022  02:15 PM               174 uspol_account-creation.txt
11/23/2022  04:26 PM            60,386 US-Politician-Account-Search.ipynb
               3 File(s)        240,324 bytes
               3 Dir(s)   7,051,096,064 bytes free

##### Proof of porcess

In [3]:
keys = pd.read_csv('uspol_account-creation.txt', sep = '\t', header = None).T
keys.columns = keys.iloc[0]
keys.drop(0,inplace=True)
keys = keys.reset_index()
# keys
token = keys['Your access token'][0]
# token

In [4]:
header = {'Authorization': 'Bearer {}'.format(token)}
# header
search_endpoint = 'https://mastodon.social/api/v2/search'

In [5]:
# q = leg_list['full_name'][0]
q = 'David Silva'
q_url = urllib.parse.quote(q)
q_url

'David%20Silva'

In [6]:
# query_url = search_endpoint + '?q={}&type={}&resolve={}'.format(q_url, ty, resolve)
query_url = search_endpoint + '?q={}&limit={}'.format(q_url, 40)
query_url

'https://mastodon.social/api/v2/search?q=David%20Silva&limit=40'

In [7]:
response = requests.get(query_url, headers = header)

In [8]:
response.status_code

200

In [9]:
response_dict = response.json()

In [10]:
response_dict.keys()

dict_keys(['accounts', 'statuses', 'hashtags'])

In [11]:
type(response_dict['accounts'])

list

In [12]:
len(response_dict['accounts'])

6

In [13]:
account_info = pd.DataFrame(response_dict['accounts'])

In [14]:
account_info.head()

,id,username,acct,display_name,locked,bot,discoverable,group,created_at,note,...,avatar_static,header,header_static,followers_count,following_count,statuses_count,last_status_at,emojis,fields,noindex
0,109372417486107898,david,david@vira-lata.org,David Silva,False,False,False,False,2022-11-19T00:00:00.000Z,<p>Jornalista e UX Writer. Esquerda é o caminh...,...,https://files.mastodon.social/cache/accounts/a...,https://static-cdn.mastodon.social/headers/ori...,https://static-cdn.mastodon.social/headers/ori...,3,0,10,2022-11-23,[],[],NaN
1,109269680204480110,geckosilva,geckosilva@mstdn.social,David E. Silva,False,False,True,False,2022-11-01T00:00:00.000Z,<p>Assistant Prof. at Kent State U. with a PhD...,...,https://files.mastodon.social/cache/accounts/a...,https://files.mastodon.social/cache/accounts/h...,https://files.mastodon.social/cache/accounts/h...,21,40,19,2022-11-23,[],[],NaN
2,1357803,dasilvarosa,dasilvarosa@bitcoinhackers.org,David da Silva Rosa,False,False,False,False,2021-01-10T00:00:00.000Z,<p>Live free or die. Aerospace engineer obsess...,...,https://files.mastodon.social/cache/accounts/a...,https://files.mastodon.social/cache/accounts/h...,https://files.mastodon.social/cache/accounts/h...,18,26,4,2021-01-11,[],"[{'name': 'Twitter', 'value': '@dldasilvarosa'...",NaN
3,109383155319556934,dasilvacontin,dasilvacontin@otter.garden,David da Silva Contín,False,False,False,False,2022-11-21T00:00:00.000Z,,...,https://static-cdn.mastodon.social/avatars/ori...,https://static-cdn.mastodon.social/headers/ori...,https://static-cdn.mastodon.social/headers/ori...,0,3,0,None,[],[],NaN
4,1195537,JDAVIDSILVA,JDAVIDSILVA,JORGE DAVID SILVA,False,False,False,False,2020-04-20T00:00:00.000Z,,...,https://static-cdn.mastodon.social/avatars/ori...,https://static-cdn.mastodon.social/headers/ori...,https://static-cdn.mastodon.social/headers/ori...,1,6,1,2020-04-28,[],[],False

In [15]:
account_info.keys()

Index(['id', 'username', 'acct', 'display_name', 'locked', 'bot',
       'discoverable', 'group', 'created_at', 'note', 'url', 'avatar',
       'avatar_static', 'header', 'header_static', 'followers_count',
       'following_count', 'statuses_count', 'last_status_at', 'emojis',
       'fields', 'noindex'],
      dtype='object')

That's me!

In [16]:
account_info.iloc[1]['url']

'https://mstdn.social/@geckosilva'

##### Data collection

In [17]:
leg_list = pd.read_csv('legislators-current.csv')

In [18]:
leg_list.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [19]:
leg_list.keys()

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

In [20]:
len(leg_list.index)

539

In [21]:
def pol_masto_search(name, header):
    searched_name = None
    found_accounts = None
    many_found_accounts = None
    failed_response = None
    search_endpoint = 'https://mastodon.social/api/v2/search'
    query_url = search_endpoint + '?q={}&limit=40'.format(name)
    response = requests.get(query_url, headers = header)
    if response.status_code != 200:
        print('Keyword `{}` search failed'.format(name))
        failed_response = response
    else:
        failed_response = False
        # print(response.status_code)
        searched_name = name
        response_dict = response.json()
        if len(response_dict['accounts']) < 1:
            found_accounts = False
        else:
            found_accounts = response_dict['accounts']
            if len(response_dict['accounts']) < 40:
                many_found_accounts = False
            else:
                many_found_accounts = True
    return {'searched_name': searched_name, 'found_accounts': found_accounts, 'many_found_accounts': many_found_accounts, 'failed': failed_response}

Mastodon's API limits requests to [300 per 5 minutes](https://docs.joinmastodon.org/api/rate-limits/#limits). Because of this, need to arbitrarily slow down the request of >500 names. I know there are better ways but this is the quickest to implement.

In [22]:
nov_23_search_results = []
for x in leg_list['full_name']:
    nov_23_search_results.append(pol_masto_search(name = x, header = header))
    sleep(0.6)

In [23]:
results = pd.DataFrame(nov_23_search_results)

In [24]:
results.head(10)

,searched_name,found_accounts,many_found_accounts,failed
0,Sherrod Brown,False,None,False
1,Maria Cantwell,False,None,False
2,Benjamin L. Cardin,False,None,False
3,Thomas R. Carper,False,None,False
4,"Robert P. Casey, Jr.",False,None,False
5,Dianne Feinstein,False,None,False
6,Amy Klobuchar,"[{'id': '954757', 'username': 'SeanAloysiusOBr...",False,False
7,Robert Menendez,False,None,False
8,Bernard Sanders,False,None,False
9,Debbie Stabenow,False,None,False

In [25]:
results.tail()

,searched_name,found_accounts,many_found_accounts,failed
534,Brad Finstad,False,None,False
535,Mary Sattler Peltola,False,None,False
536,Patrick Ryan,"[{'id': '813857', 'username': 'ryanpatricksmit...",False,False
537,Joseph Sempolinski,False,None,False
538,NaN,False,None,False

In [26]:
results.to_csv('nov_23_search_results.csv')

In [27]:
found_accounts_df = results[results['found_accounts'] != False]

In [28]:
len(found_accounts_df.index)

95

In [29]:
found_accounts_df.head()

,searched_name,found_accounts,many_found_accounts,failed
6,Amy Klobuchar,"[{'id': '954757', 'username': 'SeanAloysiusOBr...",False,False
10,Jon Tester,"[{'id': '109289281920145814', 'username': 'jon...",False,False
17,Lindsey Graham,"[{'id': '1014550', 'username': 'LindseyGrahamS...",False,False
19,Mitch McConnell,"[{'id': '109300533402685736', 'username': 'Mit...",False,False
39,Kevin Brady,"[{'id': '109366318527978208', 'username': 'Kbr...",False,False

In [30]:
num_accounts = [len(x) for x in found_accounts_df['found_accounts']]
found_accounts_df['num_accounts'] = num_accounts

C:\Users\Silva\AppData\Local\Temp\ipykernel_16792\2603402583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  found_accounts_df['num_accounts'] = num_accounts

In [31]:
found_accounts_df.sort_values('num_accounts', ascending = False).head(10)

,searched_name,found_accounts,many_found_accounts,failed,num_accounts
184,Adam Smith,"[{'id': '429820', 'username': 'adamndsmith', '...",False,False,18
119,Mike Lee,"[{'id': '109309997973560147', 'username': 'mik...",False,False,12
256,Ted Cruz,"[{'id': '252538', 'username': 'tedcruz', 'acct...",False,False,9
266,Jason Smith,"[{'id': '109372660619579931', 'username': 'ohp...",False,False,9
176,David Scott,"[{'id': '109304484414633449', 'username': 'era...",False,False,8
341,Mike Johnson,"[{'id': '109318056035277638', 'username': 'mik...",False,False,8
161,Mike Rogers,"[{'id': '109299644622400352', 'username': 'Ten...",False,False,7
315,John Kennedy,"[{'id': '1251899', 'username': 'micefearboggis...",False,False,7
355,Vicente Gonzalez,"[{'id': '109331965042333385', 'username': 'jor...",False,False,5
327,Matt Gaetz,"[{'id': '109325377255811014', 'username': 'mat...",False,False,4

In [32]:
pd.DataFrame(found_accounts_df['found_accounts'].loc[184]).keys()

Index(['id', 'username', 'acct', 'display_name', 'locked', 'bot',
       'discoverable', 'group', 'created_at', 'note', 'url', 'avatar',
       'avatar_static', 'header', 'header_static', 'followers_count',
       'following_count', 'statuses_count', 'last_status_at', 'noindex',
       'emojis', 'fields', 'limited'],
      dtype='object')

In [33]:
pd.DataFrame(found_accounts_df['found_accounts'].loc[184])['url']

0               https://mastodon.social/@adamndsmith
1             https://sauropods.win/@AdamStuartSmith
2                  https://ecoevo.social/@adamfsmith
3                 https://mastodon.social/@rndmcnlly
4               https://mastodon.sdf.org/@asmith4726
5                https://mastodon.social/@adamjsmith
6                 https://mastodon.com.tr/@adamsmith
7                  https://techhub.social/@addiepads
8                            https://mas.to/@asmith6
9               https://mastodon.social/@adamsmith90
10           https://fediscience.org/@AdamClarkSmith
11               https://mastodon.online/@adambsmith
12                https://mastodon.social/@AMSilence
13                https://berries.space/@smithya1333
14    https://pleroma.site/users/cunnycrushersupreme
15            https://mastodon.social/@AdamJohnSmith
16                   https://social.fab-l3.org/@Adam
17              https://mastodon.social/@adamsmith87
Name: url, dtype: object

Still a bit of a work in progress.